{% extends 'to_do/base.html' %}
	{% block content %}
	<div class="todo-list">
	<h3>{{user_id}} Tasks</h3>
	{% for task in object_list %}

		<div class="item-row">

			<a class="btn btn-sm btn-info" href="{% url 'task_update' task.id %}">Update</a>
			<a class="btn btn-sm btn-danger" href="{% url 'task_delete' task.id %}">Delete</a>
			<a href="{% url 'task_view' task.id %}">
			{% if task.status == 3 %}
			<strike>{{task}}</strike>
			{% else %}
			<span>{{task}}</span>
			{% endif %}
			</a>

		</div>

	{% endfor %}
		<div class="item-row">
				<a href="{% url 'new_task' %}"><button class="btn btn-success" type="submit" name="Create Task">Create</button></a>
		</div>

		<!--		pagination  -->
		{% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number}}">{{ page_obj.number}}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

		
	</div>

{% endblock content%}




